
.navPag {
    padding: 10px;
    margin-bottom: 25px;
    color: red;
}

.pagination{
    margin: 2px;
    height: 30px;
    width: 30px;
    background: rgb(10, 0, 66);
    color: rgb(0, 217, 255);
    font-weight: bold;
    border-radius: 15px;
    border: double goldenrod;
}

.pagination:hover{
    cursor: pointer;
    margin: 2px;
    height: 33px;
    width: 33px;
    background:  rgb(10, 0, 66);
    font-weight: bold;
    border-radius: 40px;
    border: solid goldenrod;
}

.pagination:active {
    background: #00d9ff;
    color: rgb(10, 0, 66);
}
.pagination:focus {
    background: #00d9ff;
    color: rgb(10, 0, 66);
}