.MainDivLoading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(25%) opacity(.6);
}

.dogsContainerLoading {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 10px solid var(--color-azul-oscuro);
  border-top: 10px solid var(--color-celeste);;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: transparent;
}
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }