.divSearchBar{
    display: flex;
}

.inputSearchBar {
    width: 95%;
    height: 95%;
    background: transparent;
    border-style: none;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 2px solid goldenrod;
    border-radius: 2px;
    height: 22px;
    padding: 7px 10px;
}

.btnSearchBar{
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}

.btnSearchBar:hover{
    opacity: .95;
}