.greatDiv{
    margin: 0;
    font-size: 1rem;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-image: url('https://wallpapercave.com/wp/wp3754289.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.welcome{
    padding-top: 100px;
    padding-bottom: 0px;
    font-size: 50px;
    font-family: fantasy;
    text-shadow: #555 2px 2px 3px;
    color: rgb(221, 88, 0)
}
.getin{
    font-size: 30px;
    font-family: fantasy;
    color: rgb(221, 88, 0);
    text-shadow: lawngreen;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.enterDiv {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

 
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.logo{
    width: 300px;
    height: 300px;
    -webkit-animation: 2s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
